[Unit]
Description=docker-run

[Service]
User=glot
Group=glot
Restart=always
RestartSec=10
ExecStart=/home/glot/bin/docker-run
Environment="SERVER_LISTEN_ADDR=0.0.0.0"
Environment="SERVER_LISTEN_PORT=8088"
Environment="SERVER_WORKER_THREADS=10"
Environment="API_ACCESS_TOKEN=some-secret-token"
Environment="DOCKER_UNIX_SOCKET_PATH=/var/run/docker.sock"
Environment="DOCKER_UNIX_SOCKET_READ_TIMEOUT=3"
Environment="DOCKER_UNIX_SOCKET_WRITE_TIMEOUT=3"
Environment="DOCKER_CONTAINER_HOSTNAME=glot"
Environment="DOCKER_CONTAINER_USER=glot"
Environment="DOCKER_CONTAINER_MEMORY=1000000000"
Environment="DOCKER_CONTAINER_NETWORK_DISABLED=true"
Environment="DOCKER_CONTAINER_ULIMIT_NOFILE_SOFT=90"
Environment="DOCKER_CONTAINER_ULIMIT_NOFILE_HARD=100"
Environment="DOCKER_CONTAINER_ULIMIT_NPROC_SOFT=90"
Environment="DOCKER_CONTAINER_ULIMIT_NPROC_HARD=100"
Environment="DOCKER_CONTAINER_CAP_DROP=MKNOD NET_RAW NET_BIND_SERVICE"
Environment="DOCKER_CONTAINER_READONLY_ROOTFS=true"
Environment="DOCKER_CONTAINER_TMP_DIR_PATH=/tmp"
Environment="DOCKER_CONTAINER_TMP_DIR_OPTIONS=rw,noexec,nosuid,size=65536k"
Environment="DOCKER_CONTAINER_WORK_DIR_PATH=/home/glot"
Environment="DOCKER_CONTAINER_WORK_DIR_OPTIONS=rw,exec,nosuid,size=131072k"
Environment="RUN_MAX_EXECUTION_TIME=15"
Environment="RUN_MAX_OUTPUT_SIZE=100000"
Environment="RUST_LOG=debug"

[Install]
WantedBy=multi-user.target
